<div class="parent">
  <div>
    <mat-list class="my-list">
      <mat-list-item
        *ngFor="let user of users; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)"
      >
        <img matListAvatar src="assets/img/user_avatar.png" alt="...">
        <h3 matLine> {{user.firstName}} </h3>
        <p matLine>
          <span> {{user.lastName}} </span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="user-card">
    <div *ngIf="currentUser">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{currentUser.firstName}}</mat-card-title>
          <mat-card-subtitle>{{currentUser.lastName}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/user_avatar.png" alt="...">
        <mat-card-content>
          <h3>{{currentUser.birthDay | date:'mediumDate'}}</h3>
          <p>
            {{currentUser.address}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" routerLink="/users/{{ currentUser.id }}">EDIT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
