::-webkit-scrollbar {
  display: none;
}

.my-list {
  height: 90%;
  overflow-y: scroll;

  mask: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 60%);
  mask-size: 110% 140%;
  mask-position: top;
  mask-repeat: no-repeat;
  mask-composite: intersect;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 10px;
}

.user-card {
  max-width: 400px;
  margin-left: 10%;
  text-align: center;
}
