<div>
  <nav mat-tab-nav-bar color="primary" class="my-nav">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
