<div class="container">
  <div *ngIf="currentUser">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput
             type="text"
             id="firstName"
             [(ngModel)]="currentUser.firstName"
             name="firstName"
      />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput
             type="text"
             class="form-control"
             id="lastName"
             [(ngModel)]="currentUser.lastName"
             name="lastName"
      />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput [(ngModel)]="currentUser.birthDay" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput [(ngModel)]="currentUser.address"></textarea>
    </mat-form-field>
    <br>
    <button mat-button color="accent" (click)="deleteUser()">
      Delete
    </button>

    <button
      mat-button color="primary"
      type="submit"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser">
    <p>User not found...</p>
  </div>
</div>
