<div class="container">
  <div *ngIf="!submitted">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput
             required
             type="text"
             id="firstName"
             [(ngModel)]="user.firstName"
             name="firstName"
      />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput
             required
             type="text"
             class="form-control"
             id="lastName"
             [(ngModel)]="user.lastName"
             name="lastName"
      />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput required [(ngModel)]="user.birthDay" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput required [(ngModel)]="user.address"></textarea>
      <mat-error *ngIf="!user.address.length">Empty address!</mat-error>
    </mat-form-field>
    <br>
    <button
      mat-button color="primary"
      type="submit"
      (click)="saveUser()"
    >
      Add
    </button>
  </div>

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button mat-button color="primary" (click)="newUser()">
      OK
    </button>
  </div>
</div>
